.App {
  text-align: center;
}
.products{
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCard{
  border: 2px solid hsl(22, 85%, 55%);
  border-radius: 10px;
  width: 350px;
  height: 550px;
  padding: 5px;
  margin: 20px;
}
.productImage{
  margin-top: 20px;
  width: 150px;
}